<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Em</title>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <!-- link bootstrap -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- link main css -->
  <link rel="stylesheet" href="main.css">
  <!-- link font wff -->
  <style>
    @import url('//fonts.googleapis.com/css?family=Titillium+Web:300');
  </style>

</head>

<body>
  <div id="app">

      <audio id="myDiv" ref="myDiv">
          <source src="helloDarkness.ogg" type="audio/ogg">
          <source src="helloDarkness.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>


    <h1>em</h1>

    <!-- container with a logged users  -->
    <div class="col-md-2">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-user"></span> Online ({{ connectedUsers.length }})
      </div>
      <ul>
        <!-- v-for its forEach loop in Vuejs -->
        <li v-for="user in connectedUsers">{{ user }}&nbsp;

            <span v-if="userIsTyping(user)" class="glyphicon glyphicon-pencil">
                <span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
            </span>
        </li>
      </ul>
    </div>


    <!-- container with message display and type input -->
    <div class="col-md-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          CHAT WINDOW
        </div>
        <div class="panel-body" id="main-body">
          <ul class="chat" id="messages">
            <li v-for="message in messages" class="left clearfix">
              <div v-if="message.type == 'info'" class="info">
                {{ message.msg }}
              </div>
              <div v-if="message.type == 'chat'">
                <span class="chat-img pull-left">
                  <img src="//placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font">{{ message.user }}</strong>
                    <small class="pull-right text-muted">
                      <span class="glyphicon glyphicon-time"></span>&nbsp;{{ message.timestamp }}</small>
                  </div>
                  <p v-if="message.text.isGif == true">
                    {{ message.text }}
                  </p v-else>
                  <p v-html="message.text"></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          

          <div v-show="isShow" class="addons-panel">
            <li v-for="lenny in lennys">
              <div v-on:click="lennyToInput(lenny)">{{ lenny.face }}</div>
            </li>
          </div>
          <div class="input-group">
            <div v-show="isShowGif" class="addons-panel">
              <input v-model="query" type="text">
              <button v-on:click="loadGif()">Search</button>
              <!--{{status}}-->
              <li v-for="gif in gifs">
                <img v-on:click="sendGif(gif)" v-bind:src="gif" >
              </li>
                </div>

            <form @submit.prevent="send">
              <input v-model="message.text" v-on:keyup="usersAreTyping" v-on:keyup.13="stoppedTyping('13')" v-on:keyup.8="stoppedTyping('8')"
                type="text" class="form-control input-lg" placeholder="Type chat here" />
            </form>
            <span class="input-group-btn">
              <button v-on:click="isShow = !isShow" class="btn btn-default btn-lg" type="button"> ( ͡° ͜ʖ ͡°) </button>
              <button v-on:click="isShowGif = !isShowGif" class="btn btn-default btn-lg" type="button"> GIF's </button>


            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--
  skrypty testowo w indexie powinno byc w osobnym pliku
-->
  <!-- socket io 
    or from cdn or from node_modules(next below)
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Vue js CDN: -->
  <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Axios (similar to ajax) js CDN: -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

  <!-- Moment.js CDN: -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>

  <!-- Vue js script: -->
  <script src="client.js"></script>

</body>

</html>