<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Em</title>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <!-- link bootstrap -->
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!-- link main css -->
  <link rel="stylesheet" href="main.css">
  <!-- link font wff -->
  <style>
    @import url('//fonts.googleapis.com/css?family=Titillium+Web:300');
  </style>
  <!-- Import materialize.css -->
  <link type="text/css" rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css" media="screen,projection"/>

</head>

<body>
  <div id="app" class="row">

      <audio id="myDiv" ref="myDiv">
          <source src="helloDarkness.ogg" type="audio/ogg">
          <source src="helloDarkness.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>


    <h1>em</h1>

    <!-- container with a logged users  -->
    <div class="col s2">
      <div class="panel-heading transparent">Online ({{ connectedUsers.length }})</div>
      <ul id="panel-online-green-border" class="collection with-header transparent">
        <!-- v-for its forEach loop in Vuejs -->
        <li v-for="user in connectedUsers"  class="collection-item  transparent panel-border">{{ user }}&nbsp;
            <span v-if="userIsTyping(user)">
                <span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
            </span>
        </li>
      </ul>
    </div>


    <!-- container with message display and type input -->
    <div class="col s10">
      <div>
        <div class="panel-body">
          <div class="panel-heading transparent">CHAT WINDOW</div>
          <ul class="chat collection panel-border" id="messages">
            <li v-for="message in messages" class="left clearfix">
              <div v-if="message.type == 'info'" class="info messege-background">
                {{ message.msg }}
              </div>
              <div v-if="message.type == 'chat'" class="collection-item messege-background">
                <!-- <span class="chat-img pull-left">
                    <i class="material-icons">account_circle</i>
                </span> -->
                <div class="chat-body clearfix">
                  <div class="header login-color">
                    <strong class="primary-font">{{ message.user }}</strong>
                    <small class="pull-right text-muted">
                      <span class="glyphicon glyphicon-time"></span>&nbsp;{{ message.timestamp }}</small>
                  </div>
                  <p v-if="message.text.isGif == true">
                    {{ message.text }}
                  </p v-else>
                  <p v-html="message.text"></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        
        <footer class="page-footer transparent">
          <div class="panel-footer">
            <div v-show="isShow" class="addons-panel">
              <li v-for="lenny in lennys">
                <a v-on:click="lennyToInput(lenny)" class="waves-effect waves-light btn">{{ lenny.face }}</a>
              </li>
            </div>
            <div class="input-group">
              <div v-show="isShowGif" class="addons-panel">
                <input v-model="query" type="text">
                <button v-on:click="loadGif()">Search</button>
                <!--{{status}}-->
                <li v-for="gif in gifs">
                  <img v-on:click="sendGif(gif)" v-bind:src="gif" >
                </li>
                  </div>

                  <form @submit.prevent="send">
                    <input v-model="message.text" v-on:keyup="usersAreTyping" v-on:keyup.13="stoppedTyping('13')" v-on:keyup.8="stoppedTyping('8')"
                      type="text" class="form-control input-lg" placeholder="Type chat here" />
                  </form>
              <div class="fixed-action-btn horizontal click-to-toggle">
                <a v-on:click="isShow = !isShow" class="waves-effect waves-light btn" type="button"> ( ͡° ͜ʖ ͡°) </a>
                <a v-on:click="isShowGif = !isShowGif" class="waves-effect waves-light btn" type="button"> GIF's </a>
              </div>

            </div>
          </footer>
        </div>
      </div>
    </div>

  </div>
  <!--
  skrypty testowo w indexie powinno byc w osobnym pliku
-->

  <!-- materialize scripts: -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="node_modules/materialize-css/dist/js/materialize.min.js"></script>

  <!-- socket io 
    or from cdn or from node_modules(next below)
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Vue js CDN: -->
  <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Axios (similar to ajax) js CDN: -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

  <!-- Moment.js CDN: -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>

  <!-- Vue js script: -->
  <script src="client.js"></script>

</body>

</html>