*{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.panel-heading {
  text-align: center;
}
/* hardcoded for visualization */
.panel-body {
  height: 70vh;
}

li{
  margin-left: 15px;
}

.addons-panel{
  background-color: white;
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.addons-panel li{
  border: 1px solid black;
  cursor: pointer;
}
