:root{
  --red-color: #DB3340; 
  --orange-color: #E8B71A;
  --gray-color: #F7EAC8;
  --green-color: #1FDA9A;
  --blue-color: #28ABE3;
}

*{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.panel-heading {
  text-align: center;
  background-color: var(--green-color) !important;
  border-color: var(--green-color) !important;
}
.panel-primary {
  border-color: var(--green-color) !important;
}
/* hardcoded for visualization */
.panel-body {
  height: 70vh;
  overflow-y: auto;
  overflow-x:hidden;
  padding: 0px 0px 50px 0px;
  background-color: var(--green-color) !important;
}

ul {
  list-style-type: none;
  padding: 0;
}


  ul li:nth-child(odd) {
    background: var(--orange-color);
}

ul li:nth-child(even) {
    background: var(--gray-color);
}


li{
  margin-left: 15px;
}

.addons-panel{
  background-color: white;
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.addons-panel li{
  border: 1px solid black;
  cursor: pointer;
}

@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }